<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Renaissance uses your camera to capture recovery photos for your personal journal.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Renaissance accesses your photo library so you can add existing photos to your recovery journal.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.google.gid</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.636103668184-sflddmlbj90salbiit9ted0m0lhrdmag</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.renaissance.mobile</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>renaissance</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
